---
import Form from "@/components/auth/Form";
import { ROUTES_PATH } from "@/const";
import Layout from "@/layouts/Layout.astro";

const URL = Astro.url.pathname;
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect(ROUTES_PATH.DASHBOARD);
}
---

<Layout title="Inicia sesión en Musician's Corner">
  <section>
    <a class="md:hidden flex absolute z-50 top-4 left-4" href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        class="w-14"
        stroke="#fff"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 12h12M6 12l5-5m-5 5 5 5"></path>
      </svg>
    </a>
    <article
      class="-mt-16 md:mt-12 md:w-7/12 max-w-[85rem] mx-auto h-[40rem] flex"
    >
      <div class="w-2/4 hidden lg:flex justify-center">
        <picture class="w-[85%]">
          <img
            src="/images/trumpet-man-login.svg"
            alt="musician-men"
            class="w-full h-full"
            ondragstart="return false"
            loading="lazy"
          />
        </picture>
      </div>
      <div
        class="w-1/2 min-h-full flex justify-center flex-col md:items-center flex-1 gap-8"
      >
        <h3 class="mb-6 text-5xl md:text-4xl font-semibold">Inicia sesión</h3>
        <Form URL={URL} client:load />
        <p
          class="mt-4 md:mt-0 text-sm text-balance text-center text-[#ffffff80]"
        >
          ¿Todavía no tienes una cuenta? <a
            href={ROUTES_PATH.SIGNUP}
            class="text-[#26AB3C] hover:text-[#52b964] transition duration-200"
            >¡Regístrate gratis!</a
          >
        </p>
      </div>
    </article>
    <style>
      section {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    </style>
  </section>
</Layout>
