---
import Form from "@/components/auth/Form";
import { ROUTES_PATH } from "@/const";
import Layout from "@/layouts/Layout.astro";

const URL = Astro.url.pathname;
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken || refreshToken) {
  return redirect(ROUTES_PATH.DASHBOARD);
}
---

<Layout title="Crea una cuenta en Musician's Corner gratis!">
  <section>
    <article class="mt-14 w-7/12 max-w-[85rem] mx-auto h-[40rem] flex">
      <div class="w-2/4 flex justify-center">
        <picture>
          <img
            src="https://imagedelivery.net/cD6Iwz1G-Kzv3zO8zmxwnA/3bf1c823-88e3-4e0d-8664-6e6236d11e00/public"
            alt="musician men"
            class="w-full h-full"
            ondragstart="return false"
            loading="lazy"
          />
        </picture>
      </div>
      <div
        class="w-1/2 min-h-full flex justify-center flex-col items-center flex-1 gap-4"
      >
        <h3 class="mb-10 text-4xl font-semibold">Crear cuenta</h3>
        <Form URL={URL} client:load />
        <div>
          <!-- Social Links auths -->
        </div>
        <p class="text-sm text-[#ffffff80]">
          ¿Ya tienes una cuenta? <a
            href={ROUTES_PATH.LOGIN}
            class="text-[#26AB3C] hover:text-[#52b964] transition duration-200"
            >Inicia sesión aqui!</a
          >
        </p>
      </div>
    </article>
    <style>
      section {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    </style>
  </section>
</Layout>
