---
import Card from "../Card.astro";
---

<section class="w-full h-[300px] mt-8 flex flex-col gap-10">
  <img
    src="/images/hero-library-bg.webp"
    alt="hero-dashboard"
    class="rounded-xl w-full h-full object-cover filter brightness-105"
    loading="lazy"
    decoding="async"
    ondragstart="return false"
  />
  <article>
    <h2 class="text-2xl font-medium py-3">Herramientas</h2>
    <Card />
  </article>
</section>
