---
import Logo from "../Logo.astro";
---

<div class="relative h-screen overflow-hidden">
  <img
    src="/public/images/rock-2658355_1920.jpg"
    alt="Imagen de héroe"
    class="object-cover w-full h-full opacity-40"
  />

  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center text-white"
  >
    <h1 class="text-6xl font-bold mb-8">
      Bienvenido a Musician's <span class="text-[#26ab3c]">Corner</span>
    </h1>
    <p class="mx-auto w-[65%] text-pretty font-light text-white/90 mb-14">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac purus sit
      amet lectus fermentum venenatis. Integer eu lacus vel ligula vehicula
      fermentum. Quisque aliquam turpis in faucibus dapibus. Curabitur id urna
      id metus volutpat volutpat non at elit. Sed feugiat sapien id massa
      laoreet, eu vulputate nisi convallis. Maecenas ut elit vel orci
      scelerisque bibendum nec non nisl. Nullam nec vulputate dui, sit amet
      aliquet erat. Integer eu feugiat ligula. Etiam vel est purus.
    </p>
    <div class="flex justify-center gap-4">
      <button>
        <a
          href="/login"
          class="bg-[#26ab3c] text-white px-6 py-3 rounded-full hover:bg-[#1bc237]"
          >Iniciar Sesión</a
        >
      </button>
      <p class="text-white/80">- O -</p>
      <button>
        <a
          href="/register"
          class="bg-white text-gray-900 font-medium px-6 py-3 rounded-full transition-all hover:bg-gray-300"
          >Crear una cuenta</a
        >
      </button>
    </div>
  </div>
</div>
