---
import AuthButtons from "../auth/AuthButtons.astro";

import { supabase } from "@/lib/supabase";
import SideMenuItem from "../SideMenuItem.astro";
import { ROUTES_PATH } from "@/const";
import EnterIcon from "@/icons/dashboard/EnterIcon.astro";
const { cookies } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken?.value || "",
  access_token: accessToken?.value || "",
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });
}

const isLoggin = data?.user ? true : false;
---

<div class="relative w-full min-h-screen">
  <div
    class="w-full absolute p-4 md:top-1/2 md:left-1/2 md:transform md:-translate-x-1/2 md:-translate-y-1/2 text-white"
  >
    <h1 class="mt-3 text-5xl md:text-6xl font-bold mb-8">
      Bienvenido a Musician's <span class="text-[#26ab3c]">Corner</span>
    </h1>
    <div
      class="flex flex-col gap-4 items-center mx-auto mt-10 md:w-[65%] text-balance text-center text-white/90"
    >
      <p class="text-base">
        Encuentra y descarga partituras de diversos géneros musicales, o
        comparte las tuyas propias.
      </p>
      <p>
        Domina tu ritmo con nuestro metrónomo integrado y desata tu creatividad
        musical con nuestra sección de creación de canciones respaldada por
        inteligencia artificial.
      </p>
      <p class="mb-0">
        Únete a nuestra comunidad y déjate inspirar por el mundo de la música en
        Musician's Corner.
      </p>
    </div>
    <div class="w-full mt-12">
      {
        !isLoggin ? (
          <AuthButtons className="flex-col" />
        ) : (
          <div class="flex justify-center">
            <SideMenuItem
              href={ROUTES_PATH.DASHBOARD}
              className="bg-[#26ab3c] hover:bg-[#36b84b] flex justify-center items-center py-3 px-4"
            >
              <EnterIcon className="w-6 h-6" />
              Ir al Dashboard
            </SideMenuItem>
          </div>
        )
      }
    </div>
  </div>
</div>
