---
import Card from "../Card.astro";
---

<section class="w-full h-[300px] mt-8 flex flex-col gap-10">
  <article>
    <h2 class="text-2xl font-medium py-3">Partituras</h2>
    <Card />
  </article>
</section>
