---
import CardScore from "@/components/CardScore.astro"
import { fade } from "astro:transitions";

const user = Astro.cookies.get("db-user");
const scores = user && JSON.parse(user?.value);
---

<section class="w-full mt-10 flex flex-col">
  <h2 class="text-2xl font-medium py-3">Mis partituras</h2>
  <article>
    <div
      class="w-full min-h-max mt-8 mb-24 grid grid-cols-4 gap-x-8 gap-y-12"
      transition:animate={fade({ duration: ".4s" })}
    >
    {
      scores?.scores?.map((score: { name: any; artist: any; url_image: any; }) => {
        return (
          <CardScore title={score.name} author={score.artist} user={scores?.email} downloads="4" scoreImage={score.url_image} />
        )
      })
    }
    </div>
  </article>
</section>
