---
import Noti from "@/icons/dashboard/Noti.astro";
import ArrowDown from "@/icons/dashboard/ArrowDown.astro";
import AvatarIcon from "@/icons/dashboard/Avatar.astro";
import AppLayout from "@/layouts/AppLayout.astro";
import SearchIcon from "@/icons/Search.astro";
import RecordingIcon from "@/icons/dashboard/Recording.astro";
---

<AppLayout title="Musician's Corner Dashboard">
  <section class="w-full h-screen px-10 flex bg-[#0c1019]">
    <div class="flex-1">
      <header class="w-full h-max mt-10 flex gap-8">
        <div class="w-full relative">
          <input
            type="search"
            name="search"
            id="search"
            class="w-full h-12 rounded-md bg-slate-600/25 hover:bg-[#171c27] pl-14 outline-none transition-all"
            placeholder="Tap to search..."
          />
          <div
            class="absolute inset-y-0 left-0 pl-5
          flex items-center
          pointer-events-none"
          >
            <SearchIcon className="w-6" />
          </div>
        </div>

        <div
          class="w-52 rounded-md bg-red-500/70 hover:bg-red-500/85 flex justify-center items-center transition-all gap-3 cursor-pointer"
        >
          <div
            class="w-7 h-7 ring-1 ring-white rounded-full flex justify-center items-center"
          >
            <RecordingIcon className="w-6" />
          </div>
          <h6>Nueva nota</h6>
        </div>
      </header>
      <article>
       
      </article>
    </div>
    <aside class="w-[30rem] h-max flex flex-row">
      <header class="w-full flex justify-end items-center gap-4">
        <div
          class="w-[38px] h-[38px] p-1 rounded-full ring-1 ring-gray-700/65 hover:bg-slate-500/20 flex justify-center items-center transition-all cursor-pointer"
        >
          <Noti className="w-6" />
        </div>

        <article
          class="w-max mx-4 py-3 px-4 rounded-xl my-8 flex gap-3 hover:bg-slate-600/15 cursor-pointer transition-all"
        >
          <AvatarIcon className="w-[42px]" />
          <div class="flex flex-col gap-1">
            <h6>Miguel Muñiz</h6>
            <p
              class="bg-blue-600 w-max px-3 text-sm font-semibold rounded-full"
            >
              Pro
            </p>
          </div>
          <div>
            <ArrowDown className="w-3 mt-1" />
          </div>
        </article>
      </header>
    </aside>
  </section>
</AppLayout>
