---
import AppLayout from "@/layouts/AppLayout.astro";
import Notification from "@/components/Notification.astro";
import RecordingIcon from "@/icons/dashboard/Recording.astro";
import { supabase } from "@/lib/supabase";
import AvatarCard from "@/components/AvatarCard.astro";
import SearchInput from "@/components/SearchInput.astro";
import Greeting from "@/components/Greeting.tsx";
import { playlists } from "@/lib/data";
import PlayListItemCard from "@/components/PlayListItemCard.astro";
import AsideApp from "@/components/AsideApp.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/auth/login");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken?.value || "",
  access_token: accessToken?.value || "",
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });
}
---

<AppLayout title="">
  <section class="w-full px-8 mt-6 flex gap-6">
    <main class="w-full ">
      <header class="w-3/4 h-max mt-6 flex gap-8">
        <SearchInput
          placeholder="Black and yellow - Wiz Khalifa, Dream on - Aerosmith ..."
        />

        <div
          class="w-52 rounded-md bg-red-500/70 hover:bg-red-500/85 flex justify-center items-center transition-all gap-3 cursor-pointer"
        >
          <div
            class="w-7 h-7 ring-1 ring-white rounded-full flex justify-center items-center"
          >
            <RecordingIcon className="w-6" />
          </div>
          <h6>Nueva nota</h6>
        </div>
      </header>
      <article>
        <Greeting className="mt-12" client:visible />
        <div>
          <!-- HERO LIBRARY GALLERY -->
        </div>
        <div class="flex flex-wrap mt-8 gap-4">
          {
            playlists.map((playlist) => (
              <PlayListItemCard playlist={playlist} />
            ))
          }
        </div>
      </article>
    </main>
    <AsideApp />
  </section>
</AppLayout>
