---
import AppLayout from "@/layouts/AppLayout.astro";
import { supabase } from "@/lib/supabase";
import LibraryPage from "@/components/pages/Library.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/auth/login");
}

const { error } = await supabase.auth.setSession({
  refresh_token: refreshToken?.value || "",
  access_token: accessToken?.value || "",
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });
}
---

<AppLayout title="Mi biblioteca - Musician's Corner">
  <section class="w-full">
    <LibraryPage />
  </section>
</AppLayout>
