---
import Notification from "./Notification.astro";
import AvatarCard from "./AvatarCard.astro";
import Card from "./Card.astro";
---

<aside
  class="w-[34rem] max-h-screen px-10 relative flex flex-col items-start gap-8"
>
  <header class="w-full flex justify-end items-center gap-3">
    <div>
      <Notification className="w-7 h-7 relative" />
    </div>
    <AvatarCard />
  </header>

  <section class="w-full flex flex-col gap-4">
    <Card title="Usado recientemente">
      <!-- Content -->
    </Card>
    <Card title="Herramientas 2">
      <!-- Content -->
    </Card>
  </section>
</aside>
