---
interface Props {
  title?: string;
  className?: string;
}

const { title = "", className = "" } = Astro.props;
---

<article
  class={`w-full min-h-[24rem] p-3 rounded-2xl bg-[#1a1e2c] ${className}`}
>
  <h2 class="font-medium text-lg">{title}</h2>
  <div>
    <slot />
  </div>
</article>
