---
import DownloadIcon from "@/icons/dashboard/DownloadIcon.astro";
import MusicCategory from "@/icons/dashboard/MusicCategory.astro";
import TrumpetIcon from "@/icons/dashboard/TrumpetIcon.astro";
import UserIcon from "@/icons/dashboard/UserIcon.astro";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<article class={`w-full min-h-[18rem] rounded-xl bg-[#1a1e2c] ${className}`}>
  <div class="w-full relative">
    <img
      src="/images/score.jpg"
      alt="score-img"
      class="w-full h-full"
      loading="lazy"
    />
    <div
      class="p-2 absolute right-3 bottom-2 bg-[#1a1e2c] hover:bg-[#2e3342] transition-all rounded-full cursor-pointer"
    >
      <TrumpetIcon />
    </div>
  </div>
  <div class="p-3">
    <div class="w-full flex flex-col">
      <h3 class="text-lg">La negra merecumbe</h3>
      <div class="w-full flex justify-between items-center">
        <div class="flex gap-1 items-center">
          <MusicCategory className="w-5 h-5 text-[#26ab3c]" />
          <p class="font-light text-sm text-gray-200/60">Banda Alameda</p>
        </div>
        <div class="flex flex-col justify-center items-center">
          <DownloadIcon className="w-6 h-6" />
          <span class="text-[#26ab3c] text-sm">23</span>
        </div>
      </div>
    </div>
    <div class="flex items-center gap-1">
      <UserIcon className="" />
      <p class="font-light text-sm text-gray-200/60">Miguel Muniz</p>
    </div>
  </div>
</article>
