---
import Logo from "./Logo.astro";
---

<header class="w-full h-24 bg-transparent flex items-end absolute top-0 z-50">
  <Logo className="top-6 left-[60px] w-[350px]" />
  <nav class="ml-[730px] mr-[65px] py-4 flex flex-1 justify-between">
    <ul class="flex gap-20">
      <li>
        <a href="/">Inicio</a>
      </li>
      <li>
        <a href="/prices">Precios</a>
      </li>
      <li>
        <a href="/products">Productos</a>
      </li>
      <li>
        <a href="/contact">Contacto</a>
      </li>
    </ul>
    <div class="flex gap-4">
      <button>
        <a
          href="/auth/login"
          class="bg-[#26ab3c] text-white px-4 py-3 rounded-full transition-all hover:bg-[#1bc237]"
          >Iniciar Sesión</a
        >
      </button>
      <button>
        <a
          href="/auth/register"
          class="bg-white text-gray-900 font-medium px-4 py-3 rounded-full transition-all hover:bg-gray-300"
          >Crear una cuenta</a
        >
      </button>
    </div>
  </nav>
</header>
