---
import SearchInput from "./SearchInput.astro";
import { ScoresFormCard } from "./scores/ScoresForm";
import NotificationCard from "./NotificationCard";
import { AvatarCard } from "./AvatarCard.jsx";

const data = null;
---

<header class="w-full mt-8 flex items-center">
  <div class="w-full flex items-center">
    <SearchInput className="w-[725px]" />
    <ScoresFormCard client:load />
  </div>
  <article class="w-full flex justify-end items-center">
    <NotificationCard client:visible />
    <AvatarCard
      client:visible
      transition:name="avatar-card"
      transition:persist
    />
  </article>
</header>
