---
interface Props {
    href: string
    className?: string
}

const { href, className = "" } = Astro.props;
---

<button>
  <a
    href={href}
    class={`bg-[#26ab3c] text-white px-6 py-3 rounded-full hover:bg-[#1bc237] ${className}`}
    >Iniciar Sesión</a
  >
</button>
