---
import SearchIcon from "@/icons/Search.astro";

interface Props {
    className?: string;
    placeholder?: string;
}

const { className, placeholder = "Find what you're looking for..." } = Astro.props;
---

<div class="w-full relative">
    <input
      type="search"
      name="search"
      id="search"
      class={`h-12 rounded-md bg-[#1a1e2c] hover:bg-[#1e2231] pl-14 outline-none transition-all ${className} `}
      placeholder={placeholder}
    />
    <div
      class="absolute inset-y-0 left-0 pl-5
          flex items-center
          pointer-events-none"
    >
      <SearchIcon className="w-6" />
    </div>
  </div>