---
import SearchIcon from "@/icons/Search.astro";

interface Props {
    className?: string;
    placeholder?: string;
}

const { className, placeholder = "Find what you're looking for..." } = Astro.props;
---

<div class="w-full relative">
    <input
      type="search"
      name="search"
      id="search"
      class={`w-full h-12 rounded-md bg-[#202531] hover:bg-[#35404e86] pl-14 outline-none transition-all ${className} `}
      placeholder={placeholder}
    />
    <div
      class="absolute inset-y-0 left-0 pl-5
          flex items-center
          pointer-events-none"
    >
      <SearchIcon className="w-6" />
    </div>
  </div>