---
interface Props {
  href?: string
  className?: string
}

const { href, className } = Astro.props
---

<li class="list-none">
  <a
    class={`gap-2 flex rounded-lg font-normal items-center transition duration-150 border-none ${className} `}
    href={href}
  >
    <slot />
  </a>
</li>