---
interface Props {
  href?: string
  className: string
}

const { href, className } = Astro.props
---

<li class="list-none">
  <a
    class={className}
    href={href}
  >
    <slot />
  </a>
</li>