---
import AppLayout from "@/layouts/AppLayout.astro";
import ScoresPage from "@/components/pages/scores/Scores.astro";
---

<AppLayout title="Partituras - Musician's Corner">
  <section class="w-full">
    <ScoresPage />
  </section>
</AppLayout>
