---
import { ViewTransitions } from "astro:transitions";
import AsideNav from "@/components/AsideNav.astro";
import Logo from "@/components/Logo.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <ViewTransitions fallback="none" />
  </head>
  <body>
    <div id="app" class="relative h-screen">
      <aside
        class="[grid-area:aside] flex-col flex pt-3 overflow-y-auto bg-[#161925]"
      >
        <Logo className="w-60 mx-auto relative py-6" />
        <AsideNav />
      </aside>
      <main class="[grid-area:main] overflow-y-auto w-full bg-[#11141d]">
        <slot />
      </main>
      <footer class="[grid-area:player] h-[80px] hidden">
        <!-- FOOTER PLAYER -->
      </footer>
    </div>
    <style is:global>
      html {
        font-family: "CircularStd", system-ui, sans-serif;
        color: white;
      }

      #app {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-areas:
          "aside main main"
          "player player player";
        grid-template-columns: 250px 1fr;
        grid-template-rows: 1fr auto;
        background-color: #1F2235;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Book.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Black.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }
    </style>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>

  </body>
</html>
