---
import { ROUTES_PATH } from "@/const";
import LoginButton from "./LoginButton.astro";
import SignUpButton from "./SignUpButton.astro";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class={`w-full flex justify-center items-center gap-4 ${className}`}>
  <div class="flex flex-col lg:flex-row items-center gap-4">
    <LoginButton href={ROUTES_PATH.LOGIN} />
    <SignUpButton href={ROUTES_PATH.SIGNUP} />
  </div>
  <p class="lg:hidden">- O -</p>
  <div class="lg:hidden">
    <button
      class="w-[240px] h-[55px] border bg-black/20 flex justify-center items-center gap-2 border-slate-200 dark:border-slate-700 rounded-xl text-slate-700 dark:text-slate-200 hover:border-slate-500 hover:text-slate-300 hover:shadow transition duration-150"
    >
      <img
        class="w-6 h-6"
        src="https://www.svgrepo.com/show/475656/google-color.svg"
        alt="google-logo"
        loading="lazy"
        decoding="async"
      />
      Inicia sesión con Google
    </button>
  </div>
</div>
