---
import LogoutIcon from '@/icons/dashboard/Logout.astro';
import { API_ROUTES } from '../../const';

interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<form action={API_ROUTES.LOGOUT} method="get">
  <button
    class={`w-full flex items-center text-red-500 hover:text-red-500 hover:ring-red-700 hover:bg-red-500/10 hover:ring-1 rounded-md gap-4 py-3 px-4 transition duration-150 ${className}`}
  >
    <LogoutIcon className="w-6" />
    Logout
  </button>
</form>
