---
interface Props {
  href: string;
  className?: string;
}

const { href, className = "" } = Astro.props;

const currentPath = Astro.url.pathname;
const samePath = href !== currentPath ? href : null;
---

<button
  class="w-[240px] h-[60px] bg-white text-slate-800 px-10 py-4 md:px-6 md:py-3 rounded-xl md:rounded-full transition-all hover:bg-gray-300"
>
  <a class="w-full" href={samePath}>Crear una cuenta</a>
</button>
