---
interface Props {
  href: string;
  className?: string;
}

const { href, className = "" } = Astro.props;

const currentPath = Astro.url.pathname;
const samePath = href !== currentPath ? href : null;
---

<a
  class="w-[240px] lg:w-[180px] h-[55px] lg:h-[45px] bg-white flex justify-center items-center text-slate-800 px-10 py-4 md:px-6 md:py-3 rounded-xl md:rounded-full transition-all hover:bg-gray-300"
  href={samePath}
>
  Crear una cuenta
</a>
