---
import SideMenuItem from "../SideMenuItem.astro";
import DocsIcon from "@/icons/dashboard/DocsIcon.astro";
import SettingsIcon from "@/icons/dashboard/SettingsIcon.astro";
import LibraryIcon from "@/icons/dashboard/LibraryIcon.astro";
import { ROUTES_PATH } from "@/const";
import DashboardIcon from "@/icons/dashboard/DashboardIcon.astro";
import LogOut from "@/components/auth/LogoutButton.astro";
---

<nav class="w-full h-full text-[15px] flex flex-col">
  <div class="mt-4 mb-5 px-4">
    <ul class="flex flex-col gap-2">
      <SideMenuItem
        href={ROUTES_PATH.DASHBOARD}
        className="text-white hover:text-gray-100 hover:bg-[#3c475579] py-3 px-4 gap-[9px] text-base font-normal"
      >
        <DashboardIcon className="w-9 text-white" />
        Inicio
      </SideMenuItem>

      <SideMenuItem
        href={ROUTES_PATH.SCORES.SCORES}
        className="text-white hover:text-gray-100 hover:bg-[#3c475579] py-3 px-4 gap-4 text-base"
      >
        <DocsIcon className="w-7 text-white" />
        Partituras
      </SideMenuItem>
    </ul>
  </div>
  <div class="w-10/12 mx-auto my-4 border-t border-gray-700/65"></div>
  <div class="mt-3 px-4 flex-1">
    <ul>
      <SideMenuItem
        href={ROUTES_PATH.LIBRARY}
        className="text-white hover:text-gray-100 hover:bg-[#3c475579] py-3 px-4 gap-4 text-base font-normal"
      >
        <LibraryIcon className="w-7 text-white" />
        Tu biblioteca
      </SideMenuItem>

      <!-- {playlists.map((playlist) => <SideMenuCard playlist={playlist} />)} -->
    </ul>
  </div>

  <div class="px-4 mb-14">
    <ul class="w-full flex flex-col gap-4">
      <SideMenuItem
        href={""}
        className="text-white hover:text-gray-100 hover:bg-[#3c475579] py-3 px-4 gap-2 text-base font-normal"
      >
        <SettingsIcon className="w-8 text-white" />
        Ajustes
      </SideMenuItem>
      <LogOut />
    </ul>
  </div>
</nav>
